---
 const personalImageAlt = "Miguel 츼ngel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Juan Guillermo pero todos me dicen Guille. Tengo 25 a침os y resido en Buenos Aires 游뷣릖. Desde joven tuve inter칠s por entender la volatilidad del mercado burs치til, lo que me permiti칩 desarrollar mis dos grandes pasiones: la econom칤a y el an치lisis de datos.
    </p>

    <p>
      Tuve el privilegio de acceder a una <strong> beca completa en la Universidad Torcuato Di Tella, donde me gradu칠 de la Licenciatura en Econom칤a en el a침o 2023.</strong> Esta experiencia fue crucial en mi desarrollo personal y profesional: me permiti칩 rodearme de personas con intereses similares y participar en pr치cticas profesionales donde pude aplicar mis conocimientos para ayudar a empresas a resolver diversos desaf칤os de negocio.
    </p>

    <p>
      Desde hace <strong> m치s de 4 a침os me dedico al an치lisis de datos y la visualizaci칩n de informaci칩n,</strong> utilizando herramientas como Power BI, SQL, Python y R. Mi objetivo es ayudar a mejorar la calidad de las m칠tricas y procesos.
    </p>
  </div>

  <img width="200" height="200" src="/Me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-green-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>